[submodule "elisp/yasnippet/snippets/text-mode/java-mode"]
	path = elisp/yasnippet/snippets/text-mode/java-mode
	url = git@github.com:askin/yasnippet-java-mode.git
[submodule "shell/dircolors-solorized"]
	path = shell/dircolors-solorized
	url = git://github.com/seebi/dircolors-solarized.git
[submodule "elisp/emacs-color-theme-solarized"]
	path = elisp/emacs-color-theme-solarized
	url = git://github.com/sellout/emacs-color-theme-solarized.git
